/* Configuración General */
body {
    background-color: #1F1D2B; 
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    display: flex;
}

.container {
    display: flex;
    width: 100%;
    min-height: 100vh;
}

/* Sidebar Estilo Salero */
.sidebar {
    position: fixed;
    width: 250px;
    background-color: #1F1D2B;
    border-right: 1px solid #393C49;
    display: flex;
    flex-direction: column;
    padding: 24px 10px; /* Un poco de espacio a los lados */
    height: 100vh;
    box-sizing: border-box;
    overflow-y: auto;
}

.logo {
    font-size: 56px; /* Ajusta el tamaño para que sea grande como en Figma */
    font-weight: bold;
    color: white;
    margin-bottom: 40px; /* Espacio debajo del logo */
    text-align: center; /* Centra el texto dentro de su contenedor */
    width: 100%; /* Asegura que el contenedor del logo ocupe todo el ancho disponible */
}

/* Contenedor de Tarjetas */
.order-list {
    flex: 1;
    padding: 30px;
}
.order-list {
    margin-left: 250px; /* Debe ser igual al ancho del sidebar */
    width: calc(100% - 250px);
}
.order-tabs {
    display: flex;
    gap: 12px;
}


/*Esto es el numero de mesa*/
.table-id{
color: aliceblue;
}

.tab {
    padding: 10px 20px;
    border-radius: 8px;
    background-color: #393C49; /* Gris para los no seleccionados */
    color: #ABBBC2;
    font-weight: bold;
    cursor: pointer;
}

.tab.active {
    background: linear-gradient(135deg, #FF7E5F, #FEB47B); 
    color: white;
}

.cards-container {
    display: flex;
    flex-wrap: wrap; /* Para que las tarjetas se pongan una al lado de otra */
    gap: 20px;
    align-items: flex-start;
}

/* La Tarjeta de Pedido (La que agrandamos) */
.order-card {
    background-color: #252836;
    border-radius: 15px;
    padding: 20px;
    width: 300px;
    min-height: 400px; /* Para que quepan los 3 platos cómodamente */
    position: relative;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

.card-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.alert-icon {
    background-color: #FF4D4D; 
    color: white;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

/* Lista de Productos dentro de la tarjeta */
.product-item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.product-item img {
    width: 60px;
    height: 60px;
    border-radius: 10px;
    object-fit: cover;
    margin-right: 15px;
}

.details h3 {
    margin: 0;
    font-size: 15px;
}

.note {
    color: #FFA113; /* Color para las notas como "Celiaco" */
    font-size: 13px;
    margin: 5px 0;
}

/* Botones Inferiores */
.card-footer {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

p.total-amount{
    font-weight: 600;
}

.btn-check {
    background: linear-gradient(135deg, #FF7E5F, #FEB47B);
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    transition: transform 0.2s, opacity 0.2s;
}

.btn-check-visual {
    background: transparent !important;
    border: none !important;
    box-shadow: none !important;
    cursor: pointer;
}
.btn-cancel {
    background-color: #FF4D4D; 
    border: none;
    outline: none;
    padding: 10px 15px;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    font-weight: bold;
    transition: transform 0.2s;
}
.contenedorBotones{
    display: flex;
    gap: 25px;
}


/*La lista del menú (Alineada a la izquierda) */
.sidebar nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px; 
    
}

/*Cada botón del menú (Apagado) */
.sidebar nav ul li {
    position: relative;
    display: flex;
    align-items: center;
    padding: 16px 20px;
    cursor: pointer;
    border-radius: 12px;
    transition: 0.3s;
    color: #ABBBC2;
    font-weight: 600;
}

/* El icono (Apagado por defecto) */
.sidebar nav ul li i {
    margin-right: 15px; 
    font-size: 20px;
    color: #8898AA;
}

/* CUANDO ESTÁ ACTIVO */
.sidebar nav ul li.active {
 
    background: linear-gradient(#1f1d2b, #1f1d2b) padding-box, 
                linear-gradient(45deg, #ff5e00, #ff8c00) border-box;
    
    
    color: #ee7220;
    
    /* 3. Un borde transparente que es donde se pintará el degradado */
    border: 2px solid transparent;
    border-radius: 12px;
    
    /* 5. Aseguramos que el icono también cambie */
    font-weight: 600;
}
    

.sidebar nav ul li.active::before {
   content: "";
    position: absolute;
    top: -2px; 
    left: -2px;
    right: -2px;
    bottom: -2px;  
    z-index: -1; 
    background: linear-gradient(45deg, #ff8c00, #ff5e00 );
    border-radius: 14px;
}

/* Icono naranja solo cuando el padre es .active */
.sidebar nav ul li.active i {
    color: #ee7220; /* Icono encendido */
}

.product-item .details {
    flex-grow: 1; /* Ocupa todo el espacio disponible en el centro */
}

.qty {
    color: #ABBBC2;
    font-size: 14px;
    font-weight: 500;
    white-space: nowrap; /* Evita que "Qty: 1" se rompa en dos líneas */
    margin-left: 10px; /* Un pequeño margen de seguridad */
}
.separator {
    border: 0;
    border-top: 2px solid #393C49;
    margin: 15px 0;
}

.info-footer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    color: #ABBBC2;
}

.card-buttons {
    display: flex;
    gap: 10px;
}

/* Ajuste para que los botones ocupen el ancho de la tarjeta */
.btn-check, .btn-cancel {
    flex: 1; 
    height: 48px; /* Altura más cómoda para tocar en una pantalla de cocina */
}

.btn-check:hover, .btn-cancel:hover {
    transform: scale(1.05);
    opacity: 0.9;
}
.status-container {
    margin-top: auto; /* Lo empuja al fondo del sidebar */
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 20px;
    color: #ABBBC2;
    font-size: 14px;
}

.status-dot {
    width: 8px;
    height: 8px;
    background-color: #50D1AA; 
    border-radius: 50%;
    box-shadow: 0 0 8px #50D1AA; /* Un pequeño brillo */
}























/*estilos pa el usuario*/

header {
    display: flex;
    flex-direction: column; /* Apila los elementos uno debajo de otro */
    gap: 20px; /* Espacio entre el título y las pestañas */
    margin-bottom: 30px;
  
    
}

.header-top {
    display: flex;
    justify-content: flex-end; /* Empuja el título a la izquierda y el perfil a la derecha */
    align-items: center;
    width: 100%;
    min-height: 60px;
}
#main-title {
    margin-right: auto; /* Esta es la clave: empuja al vecino a la derecha */
}



.user-profile {
    display: flex;
    align-items: center;
    gap: 20px;
}

.user-info {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.user-avatar {
    background-color: #393C49;
    color: white;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%; /* Lo hace circular como en Figma */
    font-weight: bold;
}

.notification-icon {
    color: #ABBBC2;
    font-size: 20px;
    cursor: pointer;
}

/*boton completado*/
.btn-completed {
    background: linear-gradient(135deg, #FF7E5F, #FEB47B);
    color: white;
    border: none;
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    font-weight: bold;
    cursor: default;
    text-transform: uppercase;
}

.order-finished {
    border: 1px solid #50D1AA; 
    transition: 0.5s;
}

/* Colores para la Vista de Barra */
.bar-view .tab.active, 
.bar-view .btn-check {
    background: linear-gradient(135deg, #FFA113, #F4350A); 
    border: none;
}

/* Etiquetas (Badges) para diferenciar platos de bebidas */
.badge {
    padding: 2px 8px;
    border-radius: 4px;
    font-size: 0.7rem;
    font-weight: bold;
    margin-left: 8px;
    text-transform: uppercase;
}

.badge-cocina { background-color: #FF7E5F; color: white; } 
.badge-barra { background-color: #56CCF2; color: white; }  


.btn-pay {
    background: linear-gradient(45deg, #FFA113, #F4350A);
    color: white;
    border: none;
    padding: 12px;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
}

.history-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #1a1c23; 
    color: white;
}

.history-table th, .history-table td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #333;
}

.history-table th {
    color: #888;
    text-transform: uppercase;
    font-size: 0.8rem;
}

.status-badge.completed {
    background: linear-gradient(45deg, #FFA113, #F4350A); 
    color: white;
    padding: 5px 12px;
    border-radius: 15px;
    
    font-weight: bold;
}

.status-badge.canceled {
    background-color: #777777; 
    color: white;
    padding: 5px 8px;
    border-radius: 15px;
}


/* Tarjeta cancelada */
.order-card.order-canceled {
    border: 3px solid #ff4757 !important;
    background-color: rgba(255, 71, 87, 0.05);
    animation: flash-red 2s infinite; 
}

.cancel-badge {
    background: #ff4757;
    color: white;
    padding: 2px 8px;
    border-radius: 4px;
    font-size: 0.8rem;
    margin-left: 10px;
}

@keyframes flash-red {
    0% { box-shadow: 0 0 0px #ff4757; }
    50% { box-shadow: 0 0 15px #ff4757; }
    100% { box-shadow: 0 0 0px #ff4757; }
}

/* Clase para la tarjeta cuando está lista */
.order-card.order-ready {
    border: 2px solid #32DDFB; 
    background-color: rgba(50, 221, 251, 0.05); 
    box-shadow: 0 0 15px rgba(50, 221, 251, 0.2);
}

/* Badge pequeño al lado del ID */
.ready-badge {
    background: #32DDFB;
    color: #1a1a1a;
    font-size: 0.6rem;
    padding: 2px 6px;
    border-radius: 4px;
    margin-left: 10px;
    vertical-align: middle;
}

.btn-delete-item {
    background: none;
    border: none;
    color: #ff4757;
    cursor: pointer;
    font-size: 1.2rem;
    padding: 5px;
    transition: transform 0.2s;
}

.btn-delete-item:hover {
    transform: scale(1.2);
}

/* Estilo para el producto cuando el cocinero lo marca */
.visual-done {
    background-color: #f8f9fa; 
    border-left: 5px solid #2ecc71;
}

.visual-done h3 {
    text-decoration: line-through;
    color: #a0a0a0;
    opacity: 0.5;
}

/* Efecto para el botón de check */
.btn-check-visual:hover {
    transform: scale(1.1);
    border-color: #2ecc71 !important;
    
}
.products-admin-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px 0;
}

.product-stock-card {
    background: #1e1e26;
    border-radius: 15px;
    padding: 15px;
    text-align: center;
    border: 1px solid #333;
}

.product-stock-card img {
    width: 100%;
    height: 120px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 10px;
}

/* --- Estilo del Switch --- */
.switch {
    position: relative;
    display: inline-block;
    width: 46px;
    height: 22px;
    margin-top: 10px;
}

.switch input { opacity: 0; width: 0; height: 0; }

.slider {
    position: absolute; cursor: pointer;
    top: 0; left: 0; right: 0; bottom: 0;
    background-color: #333; transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute; content: "";
    height: 16px; width: 16px; left: 3px; bottom: 3px;
    background-color: white; transition: .4s;
    border-radius: 50%;
}

#gestion-sala { 
    border-radius: 10px;
    margin-top: 20px;
    display: none; 
}

.tabla-mesas {
    background-color: #1A1C23;
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.tabla-mesas th, .tabla-mesas td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #333;
}

.btn-toggle {
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background: #4e4eef;
    color: white;
}

.status-open { color: #2ecc71; font-weight: bold; }
.status-closed { color: #e74c3c; font-weight: bold; }

#gestion-usuarios {
    padding: 20px;
    animation: fadeIn 0.3s ease;
}

.card-admin {
    background: rgba(255, 255, 255, 0.05);
    padding: 20px;
    border-radius: 12px;
    margin-bottom: 25px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    align-items: center;
}

.btn-delete {
    background: #ff4757;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.2s;
}

.btn-delete:hover {
    background: #ff6b81;
    transform: scale(1.05);
}

/* Contenedor del título y el nombre del camarero */
.header-info {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

/* Estilo base para el nombre del camarero */
.order-camarero {
    font-size: 0.8rem;
    font-weight: bold;
    padding: 2px 8px;
    border-radius: 4px;
    width: fit-content;
    text-transform: uppercase;
}

/* Cuando nadie ha tomado la mesa aún */
.order-camarero.pending {
    background-color: #ffeaa7; 
    color: #d35400;           
    border: 1px solid #fab1a0;
}

/* Cuando ya tiene un camarero asignado */
.order-camarero.assigned {
    background-color: #dfe6e9; 
    color: #2d3436;           
}




input:checked + .slider { background-color: #F4350A; } 
input:checked + .slider:before { transform: translateX(24px); }